html {
  background-color: rgb(23, 216, 152);
}
.check {
  width: 80%;
  margin: auto;
  text-align: center;
}

.billAmount,
.cashGiven,
.output {
  width: 50%;
  display: block;
  margin: 1rem auto 1rem auto;
  text-align: center;
}

.next1 {
  display: block;
  margin: 1rem auto 1rem auto;
  text-align: center;
  padding: 5px 15px;
  border-radius: 10px;
  border-color: white;
  font-size: 0.9rem;
}
.btnCheck,
.btnClear {
  margin: 1rem auto 1rem auto;
  text-align: center;
  padding: 5px 15px;
  border-radius: 10px;
  border-color: white;
  font-size: 0.9rem;
}

table {
  border: 1px solid;
  margin: auto;
}

h3 {
  text-align: center;
}
h1 {
  padding: 2rem 0 1rem 0;
}
